# Build artifacts
artifacts/

# Folders created by CI
.config/
.coverage/

# Local build logs
logs/

# Visual Studio
**/bin/
**/obj/
**/.vs/
*.csproj.user

# ReSharper
*.DotSettings.user
_ReSharper.*/

# Windows thumbnails
Thumbs.db